<!DOCTYPE html>
html(lang="en")
    head
        <meta charset="UTF-8">
        <meta content='IE=edge' http-equiv=X-UA-Compatible>
        <meta content='width=device-width, initial-scale=1' name=viewport>
        title Basic Example
        link(rel='stylesheet', href='styles/styles.css')
        script(src='js/polyfill.min.js')

body
    form#retouchCalc
        h1 Scope of Work
        small List minutes required for each step of production

        .flex-row
                section
                    h2 Per Image

                    label File Handling/Intake
                        input#fileHandlingIntake('value'='0.5')
                    label Raw Processing
                        input#rawProcessing('value'='1')
                    label Clipping/Isolation
                        input#clippingIsolation('value'='0')
                    label Cleanup
                        input#cleanup('value'='5')
                    label Color Correction
                        input#colorCorrection('value'='1')
                    label Integration (Composite)
                        input#integration('value'='0')
                    label Mood & Grace
                        input#moodGrace('value'='0')
                    label File Output
                        input#fileOutput('value'='.5')
                    label Delivery
                        input#delivery('value'='.5')

                section.projectTotals
                    h2 Summary
                    label Total Images
                        input#quantity('value'='1')
                    label Hourly Rate
                        input#perImageHourlyRate('value'='75')
                    label Revisions (2 Rounds)
                        input#revisionAllowance('value'='0.20')
                    .totals
                        p.total Total Minutes
                            span#perImageTotalMinutes 0
                        p.total Total Hours
                            span#perImageTotalHours 0
                        hr
                        p.total 50% Upfront
                            span#perImageTotalCostHalf $0
                        hr
                        p.total Total Cost
                            span#perImageTotalCost $0
                    p
                        button#clearPerImage Reset

script(src='js/app.js')

