<!DOCTYPE html>
html(lang="en")
    head
        <meta charset="UTF-8">
        <meta content='IE=edge' http-equiv=X-UA-Compatible>
        <meta content='width=device-width, initial-scale=1' name=viewport>
        title Retouching Bid Calculator
        link(rel='stylesheet', href='styles/styles.css')
        script(src='js/polyfill.min.js')

body
    form#retouchCalc
        h1 Scope of Work
        small List minutes required for each step of production

        .flex-row
                section.taskTimes
                    h2 Per Image

                    label File Handling/Intake
                        input#fileHandlingIntake(value='0.5', type='number', step='.5')
                    label Raw Processing
                        input#rawProcessing(value='1', type='number', step='.5')
                    label Clipping/Isolation
                        input#clippingIsolation(value='0', type='number', step='.5')
                    label Cleanup
                        input#cleanup(value='5', type='number', step='.5')
                    label Color Correction
                        input#colorCorrection(value='1', type='number', step='.5')
                    label Integration (Composite)
                        input#integration(value='0', type='number', step='.5')
                    label Mood & Grace
                        input#moodGrace(value='0', type='number', step='.5')
                    label File Output
                        input#fileOutput(value='0.5', type='number', step='.5')
                    label Delivery
                        input#delivery(value='0.5', type='number', step='.5')

                section.projectTotals
                    h2 Summary
                    label Total Images
                        input#quantity(value='3', type='number', step='1')
                    label Hourly Rate
                        input#perImageHourlyRate(value='75', type='number', step='5')
                    label.percent Revisions % (2 Rounds)
                        input#revisionAllowance(value='20', type='number', step='1')
                    .totals
                        p.total Total Minutes
                            span#perImageTotalMinutes 0
                        p.total Total Hours
                            span#perImageTotalHours 0
                        hr
                        p.total 50% Upfront
                            span#perImageTotalCostHalf $0
                        hr
                        p.total Total Cost
                            span#perImageTotalCost $0
                    p
                        button#clearPerImage Reset

script(src='js/app.js')

